.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.formLabel {
  font-weight: bold;
  color: #555;
}

.formControl, .formSelect, .formCheckInput {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkboxContainer label {
  margin-left: 10px;
}

.btn {
  margin-top: 10px;
}

.btnPrimary {
  background-color: #007bff;
  border-color: #007bff;
}

.btnPrimary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btnDanger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btnDanger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
