.navbar {
  background-color: #1C3E7F; /* bg-info color */
  padding: 1rem;
}

.title {
  margin-left: 1rem;
  margin-top: 0; /* Remove a margem superior para melhor alinhamento */
  float: right; /* Alinhar à direita */
}

.mt2 {
  margin-top: 20px;
}

.ms20 {
  margin-left: 20px;
}

@media (max-width: 800px) {
  .title {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-tabs {
    display: none; /* Esconde as abas de navegação em telas menores */
  }

  .navbar-toggler {
    display: block; /* Mostra o botão de colapso em telas menores */
  }

  .navbar-collapse {
    text-align: center;
  }
}

@media (max-width: 599.98px) {
  .title {
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
  }

  .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }
}

.navbar-toggler {
  border: none;
  display: none; /* Esconde o botão de colapso por padrão */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
